[user]
  email = jbieron+github@gmail.com
  name = Jan Bieron

[pull]
  rebase = true

[alias]
  b = branch --sort=-committerdate
  back=reset --hard HEAD^
  bc = branch --show-current
  br = branch -r --sort=-committerdate

  c = !git checkout `git branch --sort=-committerdate|peco`
  cam = commit --amend
  ci = commit
  co = checkout
  cp=cherry-pick
  cr = !git checkout `git branch -r --sort=-committerdate|peco`

  d = diff --ignore-all-space
  dc = diff --ignore-all-space --cached
  di = diff --ignore-all-space --word-diff=color --word-diff-regex=.
  dic = diff --ignore-all-space --word-diff=color --word-diff-regex=. --cached

  f = fetch -p
  #fpr = !sh -c \"git fetch origin pull-requests/$1/from:pr/$1\" -
  
  l = log --pretty=format:'%Cred%h %C(yellow)%d %C(dim white)%s %C(dim green)(%an, %cr)'
  #l = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %C(dim green)(%an, %cr)%Creset%b'
  lg = log --graph --pretty=format:'%Cred%h %C(yellow)%d%C(dim white) %s %C(dim)(%an, %cr)'
  mm=merge --no-ff --no-edit
  mt=mergetool
  null=!git push origin :`git branch --show-current`

  p  = pull --rebase
  pb=!git push origin --set-upstream `git branch --show-current`
  ph=!git push http --set-upstream `git branch --show-current`
  pul = pull

  rebor=rebase --abort
  recon=rebase --continue
  resup=reset --hard @{u}

  s = status -sb
  sh=show --ignore-all-space
  sss = stash
  st = status
  sub=submodule update --init --recursive

  unpushed=log --branches --not --remotes --no-walk --decorate --oneline
  whodunit=!git shortlog -sb `git diff origin/master... --name-only`|sort -rn
  dorig = !find -name '*.orig' -delete
[core]
  editor=nvim
  #whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  # excludesfile=/home/jb/.gitignore
[push]
  default=simple
[diff]
  noprefix=true
[merge]
  tool=vimdiff
[mergetool.vimdiff]
  path=nvim
[log]
  mailmap=true
[rerere]
  enabled=true
[rebase]
  instructionFormat=(%an) %s
[color "diff"]
  meta=blue
